# What's the state of indoor agriculture in the US?

Having worked in food distribution for a decade, I probably spend a lot more time thinking about the logistics of food than most people do. When I eat, it's hard for me *not* to imagine where my food came from and how it reached me. Still, it wasn't until the pandemic reached New York City that the thought of losing access to fresh food began to seem like a real possibility. The combination of fear and free time is powerful. Overnight, my long dormant interest in gardening reawakened. The ability to grow a few vegetables at home did provide a bit of comfort. It was really the knowledge, though, that food was being grown on a commercial scale only blocks from my home in this crowded city, that set my mind closer to something like ease. I'd been won over to local, hydroponically grown greens years before based on quality alone and had happily paid a premium. As the pandemic gained momentum and my city locked down, what had once been a source of luxury - indoor farms- became a for me a symbol of hope. Sure the world was a mess, but we might just be able to dig ourselves out of it.

Once I became attuned, indoor farms seemed to begin cropping up left and right. Apparently, the industry was quite a bit larger than I'd realized. Looking to understand the landscape better, the question of *where* exactly these farms were located seemed like a good place to start.

## Population density and the emergence of indoor farming
So, what kinds of places become home to indoor farms? There are a lot of ways to characterize a place, so I decided to narrow my initial scope to population density using data from the most recent US Census, 2020. Given that my own neighborhood can very significantly in the span of a few blocks, I wanted the population data to be pretty granular and opted for the smallest geographic unit for which data was available. While census *blocks* are actually the smallest unit for which census data is gathered, 2020 data at this level was not yet available when I began this project, so I took what I could get - census *tracts*.

## Taming the data beast

The [US Decennial Census of Population and Housing](https://www.census.gov/programs-surveys/decennial-census/data/datasets.html) provides a rich source of raw data, but it can be challenging to decipher and synthesize into usable features. The "Data sources" section of my notebooks details the specific files I used and the steps I took to access them. The remaining paragraphs walk through the data cleaning and analysis techniques I applied towards my goal of contributing to the understanding of the indoor farming industry and food security overall.  

Steps: 

1. Population data - all census tracts in the US and Puerto Rico

    - clean and organize data
    - produce a tidy, ready-to-use DataFrame
    
2. GEOID codes - state, "place", county code tables

    - clean and organize data
    - merge to produce single DataFrame
    
3. Geographic data - shapefiles for NY State at the census tract level
   - use GEOID codes DataFrame to isolate shapefiles for NYC
   - produce a GEO DataFrame of NYC geographic data
   - add population data and calculate population density
   - map NYC census tracts in Kepler
   - display populatin density

4. Farm data - NYC indoor farms, addresses
    - produce a DataFrame of infoor farms in NYC
    - turn addresses into GEO info
    - plot in Kepler

### Data Sources

The below list details the data sources used for this section of the project. Since several routes can be taken to access the same census data, I've included the specific steps I followed to access them.

*Population*

To save both time and space, I've store the population data compressed as a tgz file. 
* **2020 Census: Redistricting File (Public Law 94-171)** - downloaded from the [*Table* tab](https://data.census.gov/cedsci/table?q=United%20States) of the Census.gov website
* Filters selected: Years: 2020 > Geography: All Census Tracts within United States > Topics: Populations and People
* Table name: *Decennial Census, P1 | RACE, 2020: DEC Redistricting Data (PL 94-171)*

## Initial setup to make life easier
I've imported below the Python `os` and `pathlib` modules and included some additional code to make it easier to refer to the folders where we'll be storing the various data files for this project.

In [1]:
# os module provides a variety of frequently used file system functions including path.join
# pathlib module makes it easier to manipulate folder and file paths with Python
# everything builds off base_dir, so if we move our code later, we'll only need to change base_dir
import os, pathlib
# base_dir - the immediate parent folder of this notebook
# we expect our data folders to be found here
base_dir = pathlib.Path(os.getcwd()).parent

# data_archive - we'll store compressed files here
# these will be preserved in git
data_archive_dir = os.path.join(base_dir, "data_archive")

# data_dir - large/numerous files will go here
# these will not be preserved in git!
# we'll only put files here that can be recreated with some python code (e.g. downloaded 
# or unpacked from data_archive, or generated from a DataFrame)
data_dir = os.path.join(base_dir, "data")

# shapes_dir - folders containing shapefiles go here
shapes_dir = os.path.join(data_dir,"shapes")

# json_dir - we'll store here GeoJSON we've generated and want to save for re-use 
json_dir = os.path.join(data_dir,"geojson")

## Population data

Let's load our population data as a pandas DataFrame using the `extract_from_tgz` function included below. (Alternative instructions are included below for opening regular non-compressed .csv files as a pandas DataFrame.)

In [2]:
# population data is stored compressed as tgz files to save time and space
import tarfile
import pandas as pd

# these options determine how much data is displayed in the notebook
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# 32mb+ of census data saved in a 4.7mb archive
file_census_data_tgz = os.path.join(data_archive_dir, 'census_data_2022_03_01.tgz')

# this is the population data file we'll extract from the above tgz file
file_census_data_csv = 'DECENNIALPL2020.P1_data_with_overlays_2021-12-02T121459.csv'

# this function creates a DataFrame from our tgz archive file
def extract_from_tgz(filename):
    with tarfile.open(filename) as tf:
        for file in tf.getmembers():
            if file.name == file_census_data_csv:
                data = tf.extractfile(file)
                return pd.read_csv(data, low_memory=False)

# now call the function to extract our tgz file and load it as a pandas DataFrame
df_census = extract_from_tgz(file_census_data_tgz)

# alternative instructions for loading .csv files as a pandas DataFrame
# use the line of code below and ignore the extract_from_tgz function if working with a regular .csv file
# df_census = pd.read_csv(filename, low_memory=False)

# 17mb of GIS data saved in a 2.4mb archive
# not sure we are using this file anymore...
# file_gis = os.path.join(data_archive_dir, '2020_Gaz_tracts_national.gz')

### Data inspection

Calling `.shape` tells us, before even setting eyes on it, that our DataFrame is enormous. 73 columns and 85,000+ rows! The [Tallies list on Census.gov](https://www.census.gov/geographies/reference-files/time-series/geo/tallies.html#tract_bg_block) is a handy reference to quickly check that we haven't accidentally dropped any rows. The *2020 Census Tallies of Census Tracts, Block Groups & Blocks* table on that page indicates that there are 85,395 census tracts total for the US and Puerto Rico. This checks out with what .shape is telling us (we can subtract 1 from the total rows in our table, since the values in the first row are descriptions, rather than data.)

In [3]:
df_census.shape

(85396, 73)

We can get a pretty good sense of the actual data by using `.head(n)` to view just the first few rows.

In [4]:
df_census.head(3)

,GEO_ID,NAME,P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,...,P1_062N,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N
0,id,Geographic Area Name,!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone,...,!!Total:!!Population of two or more races:!!Population of four races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,!!Total:!!Population of two or more races:!!Population of five races:,!!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,!!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,!!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,!!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,!!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,!!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,!!Total:!!Population of two or more races:!!Population of six races:,!!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1775,1653,1389,213,5,8,3,35,...,0,0,0,0,0,0,0,0,0,0
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",2055,1984,842,1104,2,12,4,20,...,0,0,0,0,0,0,0,0,0,0

### Data cleanup

It looks like the columns have been named using codes that aren't very meaningful to us. Fortunately, as mentioned above, the first row of the table includes descriptions of the data, so we'll replace the original column names with these in a moment. First, let's use `regex` to remove all of those distracting exclamation points!

In [5]:
df_census.iloc[0].replace('!!', ' ', regex=True, inplace=True)
df_census.iloc[0] = df_census.iloc[0].str.lstrip()

Now we can go ahead and drop the original column names and replace them with our cleaned up descriptions.

In [6]:
df_census.columns = df_census.iloc[0]
df_census = df_census.drop(0)
df_census.head(3)

,id,Geographic Area Name,Total:,Total: Population of one race:,Total: Population of one race: White alone,Total: Population of one race: Black or African American alone,Total: Population of one race: American Indian and Alaska Native alone,Total: Population of one race: Asian alone,Total: Population of one race: Native Hawaiian and Other Pacific Islander alone,Total: Population of one race: Some Other Race alone,...,Total: Population of two or more races: Population of four races: American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Total: Population of two or more races: Population of five races:,Total: Population of two or more races: Population of five races: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,Total: Population of two or more races: Population of five races: White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,Total: Population of two or more races: Population of five races: White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,Total: Population of two or more races: Population of five races: White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Total: Population of two or more races: Population of five races: White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Total: Population of two or more races: Population of five races: Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Total: Population of two or more races: Population of six races:,Total: Population of two or more races: Population of six races: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1775,1653,1389,213,5,8,3,35,...,0,0,0,0,0,0,0,0,0,0
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",2055,1984,842,1104,2,12,4,20,...,0,0,0,0,0,0,0,0,0,0
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",3216,3039,2244,714,12,14,6,49,...,0,0,0,0,0,0,0,0,0,0

With column names that better describe the contents, we're now able to see that we really only need the first column of population data, "Total". We can "throw away" the other 70 columns! Let's create a new, smaller DataFrame containing just the columns we need and call it *df_census_pop*.

In [7]:
df_census_pop = pd.DataFrame(df_census[['id', 'Geographic Area Name', 'Total:']])
#df_census = None
df_census_pop.head(3)

0                    id                       Geographic Area Name Total:
1  1400000US01001020100  Census Tract 201, Autauga County, Alabama   1775
2  1400000US01001020200  Census Tract 202, Autauga County, Alabama   2055
3  1400000US01001020300  Census Tract 203, Autauga County, Alabama   3216

In [8]:
df_census_pop.tail()

,id,Geographic Area Name,Total:
85391,1400000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto Rico",3968
85392,1400000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto Rico",1845
85393,1400000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto Rico",2155
85394,1400000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto Rico",4368
85395,1400000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto Rico",2587

There's still room to improve our column names. Let's specify in its header that the values in the first column are the full GEOIDs found in .csv files downloaded from data.census.gov. They include 9 characters not found in the shorter form GEOIDs used in Tiger/Line shapefiles, which we'll be looking at shortly. For reference, the census.gov site provides a detailed explanation of [how GEOIDs work](https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html).

In [9]:
df_census_pop.rename(columns={
    'id': 'GEOID Census Tract Full',
    'Geographic Area Name': 'Census Tract Name',
    'Total:': 'Population'},
    inplace=True)
df_census_pop.head()

,GEOID Census Tract Full,Census Tract Name,Population
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1775
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",2055
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",3216
4,1400000US01001020400,"Census Tract 204, Autauga County, Alabama",4246
5,1400000US01001020501,"Census Tract 205.01, Autauga County, Alabama",4322

Better. Now we can search for any data oddities that might need our attention, such as missing/null values. Let's run `.info()` and see what we find.

In [10]:
df_census_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85395 entries, 1 to 85395
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GEOID Census Tract Full  85395 non-null  object
 1   Census Tract Name        85395 non-null  object
 2   Population               85395 non-null  object
dtypes: object(3)
memory usage: 2.0+ MB

According to `.info()`, our columns are free of null values. We *really* want to make sure this is the case, so that we can avoid the annoying complications null values can bring once we start working with the data. Let's probe a bit more, using `.isna()` to return a boolean indicating whether the observation in each column is missing, `True`, or not, `False`.

In [11]:
df_census_pop.isna()

0      GEOID Census Tract Full  Census Tract Name  Population
1                        False              False       False
2                        False              False       False
3                        False              False       False
4                        False              False       False
5                        False              False       False
...                        ...                ...         ...
85391                    False              False       False
85392                    False              False       False
85393                    False              False       False
85394                    False              False       False
85395                    False              False       False

[85395 rows x 3 columns]

All of the rows displayed so far are returning `False`, indicating that there are no missing values. So far, so good. As another check, let's use `.sum()` to get a count of missing values for our full dataset, in case any might be lurking deeper in the data and are just not visible to us in the current display.

In [12]:
df_census_pop.isna().sum()

0
GEOID Census Tract Full    0
Census Tract Name          0
Population                 0
dtype: int64

Good - still seeing 0 missing values. This time, lets tell pandas to actually *show* us any rows with missing values.

In [13]:
df_census_pop[df_census_pop.isna().any(axis=1)]

Empty DataFrame
Columns: [GEOID Census Tract Full, Census Tract Name, Population]
Index: []

Again, nothing! So, it looks like we are in the clear - no missing values to address. On to the next step. 

We'll now call `.dtypes` to check whether the datatypes for each column make sense.

In [14]:
df_census_pop.dtypes

0
GEOID Census Tract Full    object
Census Tract Name          object
Population                 object
dtype: object

They do! Based on our initial visual inspection using `.head()`, we know that the values in column "Population" are integers and those in both "GEOID Census Tract Full" and "Census Tract Name" are strings. Population correctly shows up as an integer datatype, `int64`, when we call `.dtypes`. Because pandas uses the "object" type for storing strings, the dtypes for "GEOID Census Tract Full" and "Census Tract Name" are also correctly reflected when we run `.dtypes`.

In preparation for the next section of our journey, let's add a new column for "GEOID Census Tract" to our *df_census_pop* DataFrame. We'll be using this in future setps to match our population data with our GIS data. Because we know that the last 11 digits of "GEOID  Census Tract Full" represent the census tract level, we can create the new "GEOID Census Tract" column using a lambda to grab just the digits we need.

In [15]:
df_census_pop['GEOID Census Tract'] = df_census_pop['GEOID Census Tract Full'].apply(lambda x: str(x)[-11:])
df_census_pop.head()

,GEOID Census Tract Full,Census Tract Name,Population,GEOID Census Tract
1,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1775,01001020100
2,1400000US01001020200,"Census Tract 202, Autauga County, Alabama",2055,01001020200
3,1400000US01001020300,"Census Tract 203, Autauga County, Alabama",3216,01001020300
4,1400000US01001020400,"Census Tract 204, Autauga County, Alabama",4246,01001020400
5,1400000US01001020501,"Census Tract 205.01, Autauga County, Alabama",4322,01001020501

In [16]:
df_census_pop.tail()

,GEOID Census Tract Full,Census Tract Name,Population,GEOID Census Tract
85391,1400000US72153750501,"Census Tract 7505.01, Yauco Municipio, Puerto Rico",3968,72153750501
85392,1400000US72153750502,"Census Tract 7505.02, Yauco Municipio, Puerto Rico",1845,72153750502
85393,1400000US72153750503,"Census Tract 7505.03, Yauco Municipio, Puerto Rico",2155,72153750503
85394,1400000US72153750601,"Census Tract 7506.01, Yauco Municipio, Puerto Rico",4368,72153750601
85395,1400000US72153750602,"Census Tract 7506.02, Yauco Municipio, Puerto Rico",2587,72153750602

There we have it - a clean, tidy, ready-to-use DataFrame of population data for every census tract in the US and Puerto Rico.

<!-- Let's go ahead and load our GEO DataFrame of NY State shapefiles. We'll select just the columns we want and rename and reorder them as we like. -->

<!-- To verify that we haven't accidentally dropped any rows, let's run `.shape` and comprare the total to the tally files. -->

<!-- ### *Data inspection*

Now, let's make sure our data is good and clean! Let's check .dtypes to confirm that columns  are of the correct types. Specifically, we want to see that "GEOID Census Tract" is of type "object" (because we know its a string) and "Land Area Sq Meters" is a numerical datatype. -->

<!-- Good - "GEOID Census Tract" is of dtype "object", which is correct for string data. "Land Area Sq Meters" is of dtype `int64`, a numerical format, also as we'd hoped.  -->

<!-- Our new "GEOID Census Tract" column looks good. Now let's work on our big DataFrame of codes, which we'll eventually merge with the so now we can go ahead with the merge. We'll merge on *df_census_pop* and *geo_df_ny* on the "GEOID Census Tract" column. -->