## FIPS codes for states

In [1]:
import pandas as pd

file_state_fips = "../data_archive/state_fips_codes.psv"
df_state_fips = pd.read_csv(file_state_fips, delimiter="|")
df_state_fips = df_state_fips[['STUSAB', 'STATE', 'STATE_NAME']]
df_state_fips.rename(columns={'STATE': 'FIPS Code', 'STUSAB': 'State', 'STATE_NAME': 'State Name'}, inplace=True)
df_state_fips.head()

  State  FIPS Code  State Name
0    AL          1     Alabama
1    AK          2      Alaska
2    AZ          4     Arizona
3    AR          5    Arkansas
4    CA          6  California

Now, let's located the entry for NY, so we can find out its FIPS code.

In [2]:
df_state_fips[df_state_fips['State'] == 'NY']

   State  FIPS Code State Name
32    NY         36   New York